/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: #f8f8f8;
	font-family: 'Roboto', sans-serif;
}

button:hover {
  cursor: pointer;
}

.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
	flex-direction: column;
}

.app-body {
	flex-grow: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
	padding-top: 40px;
}

.container {
  display: flex;
  width: 400px;
  overflow: hidden;
	border-radius: 32px;
	box-shadow: 0 16px 30px 0 rgba(0,0,0,0.16);
}

.card {
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .5s ease-in-out;
	background: linear-gradient(170deg, white 50%, #ff5c00 50%, #e44ed5 100%);
}

.button {
  background-color: transparent;
  padding: 0;
  border: none;
}

.transition-btn {
  position: fixed;
	top: 50%;
	transform: translateY(-50%);
  font-size: 32px;
	line-height: 100%;
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.transition-btn.left {
  left: 40px;
	z-index: 1;
}

.transition-btn.right {
  right: 40px;
}

.transition-btn:hover {
	background-color: white;
	box-shadow: 0 16px 30px 0 rgba(0,0,0,0.16);
}

.card-content {
	padding: 0 32px;
	text-align: center;
}

.card-title {
  font-weight: 500;
  font-size: 1em;
	text-transform: uppercase;
	color: rgba(0,0,0,0.5);
  padding: 16px 0;
	display: flex;
	flex-direction: column;
}

.card-title span {
	font-weight: 900;
	font-size: 2.4em;
	text-transform: none;
	color: black;
	margin-top: 8px;
}

.card-img {
  width: 75%;
  border-radius: 50%;
}

.factoids {
	color: white;
  padding: 16px 0;
  font-size: 1.25em;
	line-height: 120%;
	text-align: left;
}

.factoids-body {
	max-height: 112px;
	overflow-y: auto;
	padding: 8px 16px;
	box-shadow: inset 0 3px 12px rgba(0,0,0,0.2);
	border-radius: 16px;
}

.factoid {
  display: flex;
  justify-content: space-between;
	margin-bottom: 12px;
}

.factoid:last-child {
	margin-bottom: 0;
}

.delete-btn {
	color: white;
	transform: scale(1.1);
}

.delete-btn:hover {
	transform: scale(1.3);
}

.form {
  position: relative;
  width: 100%;
  margin: 12px 0;
}

.form input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 12px;
	padding-right: 48px;
  border: none;
  border-radius: 24px;
  font-size: 16px;
}

.form button {
  height: 48px;
	width: 48px;
  background-color: #e44ed5;
  color: white;
  border: 4px solid white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
}

footer {
	padding: 24px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

footer span {
	text-transform: uppercase;
	font-size: 13px;
}

a {
	color: #6b29f8;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
	.container {
	  width: 300px;
	}

	.card {
	  min-width: 300px;
	}

	.card-content {
	  width: 225px;
	}

	.transition-btn {
		top: 25%;
	  font-size: 24px;
		width: 40px;
		height: 40px;
		background-color: white;
		box-shadow: 0 16px 30px 0 rgba(0,0,0,0.16);
	}

	.transition-btn.left {
	  left: 48px;
	}

	.transition-btn.right {
	  right: 48px;
	}

	footer {
		flex-direction: column;
		align-items: flex-start;
	}

	footer span {
		margin-top: 16px;
	}

	footer span:first-child {
		margin-top: 0;
	}
}
